
.test{
  color:#294c71;
  color:#e8b7bf;
  color:#363636;
  color:#9278b6;
}


.sleep_disorder{
  background-image: linear-gradient(1deg,rgba(0, 0, 0, 0.15) 1%,transparent 22%, rgba(255, 255, 255, 0.25) 100%);
}

.osdHero{
  background-image: linear-gradient(-90deg,white 15%,transparent 55%), url("../assets/doctor_on_laptop.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: -30px;
}

.highlight{
  color: #294c71;
}

.text{
  color: #363636;
}

.accent1{
  color: #9278b6;
}

.accent2{
  color: #e8b7bf;
}


.bold{
  font-weight: bold;
}

.hidden{
  transform: translateY(-100%);
}

body{margin: 0; font-family: "Open Sans", sans-serif;}

.sleeper{
  background-image: linear-gradient(white 10%,transparent 75% ), 
                    linear-gradient(transparent 70%,white 90% ), 
                    url("../assets/black_man_sleeping.png");
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  
  width: 100%;
  height: 100vh;
}

.sleeper_content{
  position: absolute;
  bottom: 25%;
  right: 10%;
  gap: 0.2rem;
  align-items: flex-end;
  overflow: hidden;
}
.sleeper_content div{
  align-items: center;
}


@media (width <= 750px) {
  .sleeper{
    height: 75vh;
  }

  .sleeper_content{
    border-radius: 10px;
    bottom:50%;
    right: 50%;
    transform: translate(50%,110%);
    width: 100%;
  }
  
  

  .sleeper_content h1{
    font-size: 1.5rem;
  }


  .sleeper_content div h3{
    font-size: 0.9rem
  }
  
  .cloud_section{
    padding-top: 3.5%;
  }

  .cs_head h1{
    font-size: 5vw;
  }
  .cs_head h3{
    font-size: 2vw;
  }
  
}


@keyframes fade {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
  
}